@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

html,
body {
  width: 100dvw;
  overflow: hidden;
  height: 100dvh;
  background-image: url("/images/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@theme {
  --font-georama: "Georama", sans-serif;
  --font-roboto: "Roboto Mono", monospace;
  --breakpoint-3xl: 1920px;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer base {
  main {
    @apply w-dvw h-dvh overflow-hidden;
  }

  nav {
    @apply flex justify-between items-center bg-white/50 backdrop-blur-3xl p-2 px-5 select-none;

    div {
      @apply flex items-center max-sm:w-full max-sm:justify-center gap-5;

      &:last-child {
        @apply max-sm:hidden;
      }
    }

    ul {
      @apply flex items-center gap-5 max-sm:hidden;

      p {
        @apply text-sm cursor-pointer hover:underline transition-all;
      }
    }

    time {
      @apply text-sm font-medium text-black;
    }
  }
}

@layer components {
  .icon {
    @apply p-1 hover:bg-gray-200 rounded hover:cursor-default;
  }

  #welcome {
    @apply text-gray-200 flex flex-col justify-center items-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 select-none max-sm:h-screen max-sm:w-full max-sm:px-10;

    .small-screen {
      @apply sm:hidden m-7 bg-red-300/20 backdrop-blur-lg p-3 rounded-md absolute top-10;

      p {
        @apply flex-1 text-[16px] text-center font-roboto text-gray-400;
      }
    }
  }
}



 #dock {
    @apply absolute bottom-5 left-1/2 -translate-x-1/2 z-50 select-none max-sm:hidden;

    .dock-container {
      @apply bg-white/20 backdrop-blur-md justify-between rounded-2xl p-1.5 flex items-end gap-1.5;
    }

    .tooltip {
      @apply !py-1 !px-3 !w-fit !text-center !text-xs !rounded-md !bg-blue-200 !text-blue-900 !shadow-2xl;
    }

    .dock-icon {
      @apply size-14 3xl:size-20 cursor-pointer;

      img {
        @apply object-cover object-center;
      }
    }
  }


  
  #window-controls {
    @apply flex gap-2;

    .close {
      @apply size-3.5 rounded-full bg-[#ff6157] cursor-pointer;
    }

    .minimize {
      @apply size-3.5 rounded-full bg-[#ffc030];
    }

    .maximize {
      @apply size-3.5 rounded-full bg-[#2acb42];
    }
  }

  #window-header {
    @apply flex items-center justify-between px-4 py-3 rounded-t-lg bg-gray-50 border-b border-gray-200 select-none text-sm text-gray-400;
  }

  #safari {
    @apply w-4xl absolute top-40 left-2/12 bg-white shadow-2xl drop-shadow-2xl rounded-xl overflow-hidden;

    .search {
      @apply flex items-center gap-3 w-2/3 bg-white border border-gray-300 rounded-lg px-3 py-2;

      input {
        @apply placeholder:text-gray-400;
      }
    }

    .blog {
      @apply bg-white p-10 max-w-3xl mx-auto;

      h2 {
        @apply text-xl font-bold text-pink-600 mb-10;
      }

      .blog-post {
        @apply grid grid-cols-12 space-x-5;

        img {
          @apply size-full rounded-md object-cover;
        }

        .content {
          @apply col-span-10 space-y-3;

          p {
            @apply text-xs text-gray-500;
          }

          h3 {
            @apply font-semibold text-base text-gray-800;
          }

          a {
            @apply text-blue-600 text-xs hover:underline flex items-center gap-3;
          }
        }
      }
    }
  }

  #terminal {
    @apply w-auto h-auto absolute top-32 left-1/12 bg-white shadow-2xl drop-shadow-2xl rounded-xl overflow-hidden;

    h2 {
      @apply font-bold text-sm text-center w-full;
    }

    .techstack {
      @apply text-sm font-roboto p-5;

      .label {
        @apply flex items-center ms-10 mt-7;
      }

      .content {
        @apply py-5 my-5 border-y border-dashed space-y-1;

        li {
          .check {
            @apply text-[#00A154] w-5;
          }

          h3 {
            @apply font-semibold text-[#00A154] w-32 ms-5;
          }

          ul {
            @apply flex items-center gap-3;
          }
        }
      }
    }
  }


  .footnote {
        @apply text-[#00A154] space-y-1;

        p {
          @apply flex items-center;

          svg {
            @apply w-5 me-5;
          }
        }
      }
    
  